{% extends 'base.html.twig' %}
        {% block body %}


        <link rel='stylesheet' id='overworld-edge-modules-css' href="{{ asset('wp-content/themes/overworld/assets/css/modules.min1eb7.css?ver=6.0.3') }}" type='text/css' media='all' />
   

            <body>

            <div class="overlay overflow-hidden pe-n"><img src="{{ asset('front_office/assets/img/bg/bg_shape.png') }}"
                                                           alt="Background shape"></div>

            <h1 style="color: white;font-size: 90px;" class="edgtf-st-title">
                MyTeams<br/></h1>
            <br><br><br><br><br><br>

            <div class="edgtf-row-grid-section-wrapper edgtf-content-aligment-left">
                <div class="edgtf-row-grid-section">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">

                                    <div class="edgtf-tournament-list-holder edgtf-grid-list edgtf-disable-bottom-space edgtf-three-columns edgtf-normal-space"
                                         data-number-of-columns="three" data-enable-navigation="no"
                                         data-enable-pagination="no"
                                         data-slider-margin="no">



                                        <div class="edgtf-pl-inner edgtf-outer-space ">
                                            {% for t in teams %}
                                                {%if t.ownerteam.id == app.session.get('Gamer_id') %}
                                                <div class="edgtf-tournament edgtf-item-space edgtf-info-on-image">
                                                    <div class="edgtf-tournament-inner">
                                                        <div class="edgtf-tournament-image">
                                                            <img width="800" height="507"
                                                                 src="{{ asset('uploads/logo/'~t.logo) }}"
                                                                 class="attachment-full size-full" alt="a" loading="lazy"
                                                                 src="{{ asset('uploads/logo/'~t.logo) }},{{ asset('uploads/logo/'~t.logo) }}"
                                                                 sizes="(max-width: 800px) 100vw, 800px"/>

                                                            <div class="edgtf-tournament-meta-item">
                                                                <div class="edgtf-tournament-meta-icon ion-ios-game-controller-b"></div>
                                                                <div class="edgtf-tournament-meta-info">
                                                                    <center>  <h4 style="color: white">{{ t.nomteam }}</h4></center>

                                                                </div>
                                                            </div>
                                                            <a class="edgtf-tournament-overlay-link" itemprop="url" href="{{ path('showgroup',{id:t.id})}}"
                                                               title="suiii"></a>


                                                        </div>
                                                        <center>
                                                            <a href="{{ path('deleteteam',{id:t.id})}}"><button  style="font-size:14px; color:white;background: purple">Delete </button>
                                                            </a>
                                                            <a href="{{ path('updateteam',{id:t.id})}}"><button  style="font-size:14px; color:white;background: purple">Update </button>
                                                            </a></center>

                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if app.session.has('Gamer_id') %}
                <center><p class="edgtf-st-text" href="">
                    <div class="edgtf-st-button"><a itemprop="url"
                                                    href="{{ path('addteam') }} "
                                                    style="color: #ffffff;margin: 55px 0 0"
                                                    class="edgtf-btn edgtf-btn-small edgtf-btn-outline">
                            <span class="edgtf-btn-text">Add Team</span> </a></div>
                </center>
            {% endif %}
            </body>

        {% endblock %}