{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <!-- header -->
    <header class="pt-10 p-relative">
        <link href="{{ asset('front_office/assets/css/fonts/etline-font.min.css')}}" rel="stylesheet">
        <link href="{{ asset('front_office/assets/css/fonts/fontawesome/all.min.css')}}" rel="stylesheet">
        <link href="{{ asset('front_office/assets/css/fonts/pe-icon-7-stroke.css')}}" rel="stylesheet">
        <link href="{{ asset('front_office/assets/css/fonts/themify-icons.css')}}" rel="stylesheet">

        <link href="{{ asset('front_office/assets/plugins/owl.carousel/owl.carousel.min.css')}}" rel="stylesheet">

        <link href="{{ asset('front_office/assets/css/main.css" rel="stylesheet')}}">
        <link href="{{ asset('front_office/assets/css/styles.css" rel="stylesheet')}}">

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="{{ asset('front_office/assets/img/apple-touch-icon.png')}}">
        <link rel="icon" href="{{ asset('front_office/assets/img/favicon.png')}}">

        <div class="overlay br-n bs-c bp-r pe-n" data-parallax="scroll" data-z-index="1" style="background-image: url('front_office/assets/img/bg/bg.jpg')"></div>
        <div class="position-relative zi-1 d-flex align-items-end flex-wrap h-100">
            <div class="release-subheader">
                <div class="release-container">
                    <div class="pb-9 w-100 text-light text-center">
                        <div class="img-xl position-relative br-n bp-c bs-c article-image ar-1_1 mx-auto rounded-circle border border-secondary mb-6" style="background-image: url('front_office/assets/img/avatar/2.jpg')">
                            <span class="position-absolute b-0 r-0 text-secondary lead-3 d-block bg-warning p-2 rounded-circle lh-1"><input type="file" class="custom-file-input position-absolute l-0 t-0 b-0 h-auto" id="customFile"><i class="far fa-image"></i></span>
                        </div>
                        <h3>jallouli</h3>
                        <span class="d-flex align-items-center justify-content-center fw-500 text-shadow"><i class="fas fa-circle text-warning small-6 mr-1"></i>Online</span>
                    </div>
                </div>
            </div>
            <div class="profile-nav w-100 border-top border-bottom border-secondary">
                <div class="container">
                    <nav class="navbar navbar-expand-lg mnh-auto px-0 lh-1">
                        <button class="navbar-toggler ml-auto py-5 pl-5 pr-0 pr-sm-5" type="button" data-toggle="collapse" data-target="#navbarProfile" aria-controls="navbarProfile" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fas fa-bars lead-3 text-warning"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarProfile">
                            <ul class="profile-tabs nav nav-tabs list-unstyled mb-0 d-flex justify-content-around w-100 flex-row" id="profile-tabs" role="tablist">
                                <li class="py-2 py-lg-0">
                                    <a id="mp-2-01-tab" data-toggle="tab" href="#mp-2-01-c" role="tab" aria-controls="mp-2-01-c" aria-selected="true" class="profile-nav-link text-uppercase text-center active show">
                                        <span class="pr-icon-nav ti-layout-cta-left lead-4 d-block mb-3"></span>
                                        <span class="small-2 fw-400 ls-1">About</span>
                                    </a>
                                </li>
                                <li class="py-2 py-lg-0">
                                    <a id="mp-2-02-tab" data-toggle="tab" href="#mp-2-02-c" role="tab" aria-controls="mp-2-02-c" aria-selected="false" class="profile-nav-link text-uppercase text-center">
                                        <span class="pr-icon-nav ti-game lead-4 d-block mb-3"></span>
                                        <span class="small-2 fw-400 ls-1">Games</span>
                                    </a>
                                </li>
                                <li class="py-2 py-lg-0">
                                    <a id="mp-2-03-tab" data-toggle="tab" href="#mp-2-03-c" role="tab" aria-controls="mp-2-03-c" aria-selected="false" class="profile-nav-link text-uppercase text-center">
                                        <span class="pr-icon-nav ti-wallet lead-4 d-block mb-3"></span>
                                        <span class="small-2 fw-400 ls-1">Wallet</span>
                                    </a>
                                </li>
                                <li class="py-2 py-lg-0">
                                    <a id="mp-2-04-tab" data-toggle="tab" href="#mp-2-04-c" role="tab" aria-controls="mp-2-04-c" aria-selected="false" class="profile-nav-link text-uppercase text-center">
                                        <span class="pr-icon-nav ti-settings lead-4 d-block mb-3"></span>
                                        <span class="small-2 fw-400 ls-1">Settings</span>
                                    </a>
                                </li>
                                <li class="py-2 py-lg-0">
                                    <a id="mp-2-05-tab" data-toggle="tab" href="#mp-2-05-c" role="tab" aria-controls="mp-2-05-c" aria-selected="false" class="profile-nav-link text-uppercase text-center">
                                        <span class="pr-icon-nav ti-heart lead-4 d-block mb-3"></span>
                                        <span class="small-2 fw-400 ls-1">Wishlist</span>
                                    </a>
                                </li>
                                <li class="py-2 py-lg-0">
                                    <a id="mp-2-06-tab" data-toggle="tab" href="#mp-2-06-c" role="tab" aria-controls="mp-2-06-c" aria-selected="false" class="profile-nav-link text-uppercase text-center">
                                        <span class="pr-icon-nav ti-user lead-4 d-block mb-3"></span>
                                        <span class="small-2 fw-400 ls-1">Groups</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- /.header -->


{% endblock %}