{% extends 'base.html.twig' %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('rbt-modules1eb7.css')}}">
    <link rel='stylesheet' id='overworld-edge-modules-css' href='{{ asset('wp-content/themes/overworld/assets/css/modules.min1eb7.css?ver=6.0.3') }}' type='text/css' media='all' />
    <body>

<span class="edgtf-icon-stack">
<i class="edgtf-icon-ion-icon ion-android-arrow-up "></i> <span class="edgtf-btt-bg-holder"></span>
</span>

<div class="" style="margin-top: -130px">
    <div class="edgtf-content-inner"> <div class="edgtf-team-single-holder">
            <div class="edgtf-team-single-top-holder">

                <div class="edgtf-team-single-image-background" style="background-image: url( {{ asset('wp-content/plugins/overworld-core/assets/css/img/transparent.png)') }};background-image: url( {{ asset('https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/team-title-img.jpg') }});background-repeat: no-repeat;background-position: center;background-size: cover;"></div>
                <div class="edgtf-team-single-info-top">
                    <div class="edgtf-team-single-info-top-inner">
                        <br><br><br><br><br>
                        <img width="215" height="224" src="{{ asset('uploads/logo/'~t.logo) }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" /> <div class="edgtf-team-single-info-top-details">
                            <h2 itemprop="name" class="edgtf-name entry-title">
                                {{ t.nomteam }} </h2>
                        </div>
                    </div>
                </div></div> <div class="edgtf-grid">
                <div class="edgtf-grid-row ">
                    <div class="edgtf-page-content-holder edgtf-grid-col-12">
                        <div class="edgtf-team-single-outer">
                            <div class="edgtf-team-info-holder">
                                <div class="edgtf-team-info-main">
                                    <div class="edgtf-team-sponsor edgtf-team-section">
                                        <div class="edgtf-team-sponsor-thumb">
                                            <img width="34" height="49" src="{{ asset('wp-content/uploads/2019/10/sponsor-img-1.png') }}" class="attachment-full size-full" alt="a" loading="lazy" /> </div>
                                        <div class="edgtf-team-sponsor-meta">
                                            <div class="edgtf-team-sponsor-name">
                                                {{ c }}/{{ t.nbjoueurs}} Players </div>
                                        </div>
                                    </div>
                                    <div class="edgtf-team-social-holder edgtf-team-section">
                                        <span class="edgtf-team-social-title">Follow:</span>
                                        <span class="edgtf-team-social-icons">
<span class="edgtf-team-icon"> <span class="edgtf-icon-shortcode edgtf-normal   ">
<a class="" href="https://twitter.com/QodeInteractive" target="_blank">
<i class="edgtf-icon-font-awesome fab fa-twitter-square edgtf-icon-element"></i> </a>
</span>
</span>
<span class="edgtf-team-icon"> <span class="edgtf-icon-shortcode edgtf-normal   ">
<a class="" href="https://www.youtube.com/QodeInteractiveVideos" target="_blank">
<i class="edgtf-icon-font-awesome fab fa-youtube edgtf-icon-element"></i> </a>
</span>
</span>
<span class="edgtf-team-icon"> <span class="edgtf-icon-shortcode edgtf-normal   ">
<a class="" href="https://www.twitch.tv/" target="_blank">
<i class="edgtf-icon-font-awesome fab fa-twitch edgtf-icon-element"></i> </a>
</span>
</span>
</span>

                                    </div>
                                    <div class="edgtf-team-personal edgtf-team-section">
                                        <div class="edgtf-team-wins-holder edgtf-team-info-container">
                                            <div class="edgtf-team-wins-info edgtf-team-info-content">
                                                <div class="edgtf-team-wins edgtf-team-info-title">
                                                    0 </div>
                                            </div>
                                            <div class="edgtf-team-wins-label edgtf-team-info-label">Wins</div>
                                        </div>
                                        <div class="edgtf-team-loses-holder edgtf-team-info-container">
                                            <div class="edgtf-team-loses-info edgtf-team-info-content">
                                                <div class="edgtf-team-loses edgtf-team-info-title">
                                                    0 </div>
                                            </div>
                                            <div class="edgtf-team-loses-label edgtf-team-info-label">Loses</div>
                                        </div>
                                        <div class="edgtf-team-draws-holder edgtf-team-info-container">
                                            <div class="edgtf-team-draws-info edgtf-team-info-content">
                                                <div class="edgtf-team-draws edgtf-team-info-title">
                                                    0 </div>
                                            </div>
                                            <div class="edgtf-team-draws-label edgtf-team-info-label">Draws</div>
                                        </div>
                                        <div class="edgtf-team-plays-holder edgtf-team-info-container">
                                            <div class="edgtf-team-plays-info edgtf-team-info-content">
                                                <div class="edgtf-team-plays edgtf-team-info-title">
                                                    0 </div>
                                            </div>
                                            <div class="edgtf-team-plays-label edgtf-team-info-label">Plays</div>
                                        </div>
                                    </div> </div>
                                <div class="edgtf-team-info-description">
                                    <div class="edgtf-section-title-holder   edgtf-simple-decorated-title edgtf-h3-title "> <div class="edgtf-st-inner"> <div class="edgtf-st-title-holder"> <h3 class="edgtf-st-title"> About The Team </h3> </div> </div></div> <div class="edgtf-team-description-content"><p>{{ t.about }}</p>
                                    </div>
                                </div>

                            </div> <div class="edgtf-team-single-content">
                                <section class="wpb-content-wrapper"><div class="vc_row wpb_row vc_row-fluid vc_custom_1574433735253"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-section-title-holder  edgtf-left-position edgtf-simple-decorated-title edgtf-h3-title ">
                                                        <div class="edgtf-st-inner">
                                                            <div class="edgtf-st-title-holder">
                                                                <h3 class="edgtf-st-title">
                                                                    members </h3>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div style="display: flex; flex-wrap: nowrap;">
                                                        {% for l in m %}
                                                            <div class="edgtf-pl-inner edgtf-outer-space">
                                                                <div class="edgtf-player edgtf-item-space">
                                                                    <div class="edgtf-player-inner">
                                                                        <div class="edgtf-player-image">
                                                                            <img width="200" height="200" src="{{ asset('wp-content/uploads/2019/10/rooster-img-6.jpg') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" loading="lazy" srcset="https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-6.jpg 800w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-6-600x600.jpg 600w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-6-100x100.jpg 100w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-6-768x768.jpg 768w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-6-650x650.jpg 650w" sizes="(max-width: 800px) 100vw, 800px" />
                                                                            <div class="edgtf-player-info">
                                                                                <h6 class="edgtf-player-nickname">{{ l.idGamer.nom }}</h6>
                                                                            </div>
                                                                            <a class="edgtf-player-overlay-link" itemprop="url" href="" title={{ l.idGamer.nom }}></a>
                                                                        </div>
                                                                        {% if l.idTeam.ownerteam.id == app.session.get('Gamer_id') and l.idGamer.id != l.idTeam.ownerteam.id %}
                                                                            <a href="{{ path('kickmember',{id:l.id})}}">
                                                                                <button style="font-size:14px; color:white;background: purple">Kick</button>
                                                                            </a>
                                                                        {% endif %}
                                                                        {% if l.idGamer.id != l.idTeam.ownerteam.id and l.idGamer.id == app.session.get('Gamer_id')  %}
                                                                            <a href="{{ path('kickmember',{id:l.id})}}">
                                                                                <button style="font-size:14px; color:white;background: red">Leave</button>
                                                                            </a>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>



                                                </div></div></div>


    </body>

{% endblock %}
