<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from scanthemes.com/demo/HTML/wicodus/main.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 16:04:31 GMT -->
{% block stylesheets %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ESPORTS BY MOHAMED BAYOUDH{% endblock %}</title>

    <!-- CSS -->
    <link href="{{ asset('front_office/assets/css/fonts/etline-font.min.css') }}" rel="stylesheet">
    <link href="{{ asset('front_office/assets/css/fonts/fontawesome/all.min.css')}}" rel="stylesheet">
    <link href="{{ asset('front_office/assets/css/fonts/pe-icon-7-stroke.css ')}}" rel="stylesheet">
    <link href="{{ asset('front_office/assets/css/fonts/themify-icons.css ')}}" rel="stylesheet">

    <link href="{{ asset('front_office/assets/plugins/owl.carousel/owl.carousel.min.css ')}}" rel="stylesheet">

    <link href="{{ asset('front_office/assets/css/main.css ')}}" rel="stylesheet">
    <link href="{{ asset('front_office/assets/css/styles.css ')}}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{ asset('front_office/assets/img/apple-touch-icon.png ')}}">
    <link rel="icon" href="{{ asset('front_office/assets/img/favicon.png')}}">

    <!-- Fonts -->
    <link
        href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i') }}"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{ asset('https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js') }}"></script>
    <script src="{{ asset('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') }}"></script>
    <![endif]-->

</head>
{% endblock %}
{% block navbar %}

<body class="page-body">

    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-nav zi-3">
        <div class="container">
            <div class="row">
                <div class="col-4 col-sm-3 col-md-2 mr-auto">
                    <a class="navbar-brand logo" href="{{path('acceuil')}}">
                        <img src="{{ asset('front_office/assets/img/logo1.png') }}" alt="E-SPORTS"
                            class="logo-light mx-auto">
                    </a>
                </div>
                <div class="col-4 d-none d-lg-block mx-auto">
                    <form class="input-group border-0 bg-transparent">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-warning text-secondary my-0 mx-0" type="submit"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-6 col-xl-4 ml-auto text-right">
                    <a class="btn btn-sm btn-warning text-secondary mr-2" href="#" data-toggle="modal"
                        data-target="#userLogin">Sign in</a>
                    <a class="btn btn-sm text-light d-none d-sm-inline-block" href="" data-toggle="modal"
                        data-target="#createuser">Sign up</a>
                    <ul class="nav navbar-nav d-none d-sm-inline-flex flex-row">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle small" href="#" id="dropdownGaming"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                    class="mr-2 fas fa-globe"></i>EN </a>
                            <div class="dropdown-menu position-absolute" aria-labelledby="dropdownGaming">
                                <a class="dropdown-item" href="">English</a>
                                <a class="dropdown-item" href="">Deutsch</a>
                                <a class="dropdown-item" href="">Español</a>
                            </div>
                        </li>
                        <li class="nav-item">
                           
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-fixed" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">☰</button>
        <div class="collapse navbar-collapse" id="collapsingNavbar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link dropdown-toggle pl-lg-0" href="" id="dropdownGaming_games" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Jeux</a>
                    <div class="dropdown-menu dropdown-menu-dark-lg" aria-labelledby="dropdownGaming_games">
                        <a class="dropdown-item" href="{{ path('afficher_les_jeux') }}">Voir tout les jeux</a>
                        <a class="dropdown-item" href="{{ path('afficher_les_news') }}">Actualité des jeux</a>

                    </div>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link dropdown-toggle" href="" id="dropdownGaming_software" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Store </a>
                    <div class="dropdown-menu dropdown-menu-dark-lg" aria-labelledby="dropdownGaming_software">
                        <a class="dropdown-item" href="store.html">Animation & Modeling</a>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link dropdown-toggle" href="news.html" id="dropdownGaming_community" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">tournoi </a>
                    <div class="dropdown-menu dropdown-menu-dark-lg" aria-labelledby="dropdownGaming_community">
                        <a class="dropdown-item" href="{{path('tournoi')}}">tournoi</a>
                        <a class="dropdown-item" href="{{path('teams')}}">team</a>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link dropdown-toggle" href="news.html" id="dropdownGaming_community" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Coaching </a>
                    <div class="dropdown-menu dropdown-menu-dark-lg" aria-labelledby="dropdownGaming_community">
                        <a class="dropdown-item " href="{{path('app_coaching',{'idGame':-1})}}">liste des cours</a>
                        {% if app.session.has('Coach_id') %}
                            <a class="dropdown-item" href="{{path('addC')}}">add course</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('contact')}}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /.End Navbar -->
    {% endblock %}



    <main class="main-content">

        
          

    <!-- header -->
    <header class="header">
        <div id="carousel_main" class="carousel carousel-header slide carousel-fade fl-scn" data-ride="carousel">
          <!-- Indicators -->
          <div class="po_carousel__wrapper">
              <ol class="list-unstyled carousel-indicators def po_carousel-indicators">
                <li data-target="#carousel_main" data-slide-to="0" class=""></li>
                <li data-target="#carousel_main" data-slide-to="1" class=""></li>
                <li data-target="#carousel_main" data-slide-to="2" class="active"></li>
              </ol>
          </div>
          <!-- Carousel items -->
          <div class="carousel-inner a-cont">
            <!-- carousel-item -->
            <div class="carousel-item active">
              <div class="h-fullscreen__page bs-c br-n ow-h" style="background-image: url(../front_office/assets/img/content/carousel/slide_01.jpg);">
                <div class="w-100 d-flex jc-c overlay">
                  <!-- sm-overlay -->
                  <div class="overlay bg-light_A-20 d-lg-none"></div>
                  <div class="overlay bg-dark_A-50 d-lg-none"></div>
                  <!-- lg-overlay -->
                  <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape__light light_A-2" data-carousel-animation="fade"></div>
                  <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape ad-200ms" data-carousel-animation="fade"></div>
                </div>
                <div class="d-flex align-items-center h-100">
                  <div class="container">
                    <div class="row align-items-center h-100">
                      <div class="col-10 mr-auto ml-lg-0 col-lg-5">
                        <div class="main_carousel__content ad-900ms fadeIn text-light px-8 px-md-6 mx-lg-4 mx-xl-0">
                          <h2 class="carousel__heading text-light fadeInDown ad-500ms">YYY Championship By Mohamed BAyoudh is Coming</h2>
                          <p class="carousel__text lead-1 mb-6 fadeInDown ad-600ms">YYY Championship is not just a tournament; it's a celebration of skill, strategy, and the ultimate gaming experience! Join gamers from around the world in the final battle for glory in the phenomenal game YYY, curated by the gaming maestro himself, Mohamed Bayoudh!.</p>
                          <div class="d-flex fadeInLeft ad-900ms">
                          <a class="disabled btn btn-lg bg-dark_A-50 o-1 text-light br-round-0tr br-round-0br parallelogram un_text mb-0"><span class="d-block text-warning"><span class="carousel__discount td-lt text-light">349$</span> 299$</span></a>
                          <a href="store-product.html" class="btn btn-lg btn-light parallelogram br-round-0tl br-round-0bl un_text mb-0"><span class="d-block">Buy</span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.carousel-item -->
  
            <!-- carousel-item -->
            <div class="carousel-item">
              <div class="h-fullscreen__page bs-c br-n ow-h" style="background-image: url(../front_office/assets/img/content/carousel/slide_02.jpg);">
                <div class="w-100 d-flex jc-c overlay">
                  <!-- sm-overlay -->
                  <div class="overlay bg-light_A-20 d-lg-none"></div>
                  <div class="overlay bg-dark_A-50 d-lg-none"></div>
                  <!-- lg-overlay -->
                  <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape__light light_A-2" data-carousel-animation="fade"></div>
                  <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape ad-200ms" data-carousel-animation="fade"></div>
                </div>
                <div class="d-flex align-items-center h-100">
                  <div class="container">
                    <div class="row align-items-center h-100">
                      <div class="col-10 mr-auto ml-lg-0 col-lg-5">
                        <div class="main_carousel__content ad-900ms fadeIn text-light px-8 px-md-6 mx-lg-4 mx-xl-0">
                          <h2 class="carousel__heading text-light fadeInDown ad-500ms">The New Vip E-SPorts MembreSHIP</h2>
                          <p class="carousel__text lead-1 mb-6 fadeInDown ad-600ms">Unlock Prestige: Elevate Your Experience with Our New VIP Membership Account by Mohamed Bayoudh! Enter a realm of exclusive perks, unparalleled access, and a premium gaming experience personally curated by Mohamed Bayoudh. Embrace luxury in gaming like never before. Join the elite, where sophistication meets unparalleled gameplay. Upgrade to VIP status today!</p>
                          <div class="d-flex fadeInLeft ad-900ms">
                          <a class="disabled btn btn-lg bg-dark_A-50 o-1 text-light br-round-0tr br-round-0br parallelogram un_text mb-0"><span class="d-block text-warning"><span class="carousel__discount td-lt text-light">220$</span> 199$</span></a>
                          <a href="store-product.html" class="btn btn-lg btn-light parallelogram br-round-0tl br-round-0bl un_text mb-0"><span class="d-block">Buy</span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.carousel-item -->
  
            <!-- carousel-item -->
            <div class="carousel-item">
              <div class="h-fullscreen__page bs-c br-n ow-h" style="background-image: url(../front_office/assets/img/content/carousel/slide_03.jpg);">
                <div class="w-100 d-flex jc-c overlay">
                  <!-- sm-overlay -->
                  <div class="overlay bg-light_A-20 d-lg-none"></div>
                  <div class="overlay bg-dark_A-50 d-lg-none"></div>
                  <!-- lg-overlay -->
                  <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape__light light_A-2" data-carousel-animation="fade"></div>
                  <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape ad-200ms" data-carousel-animation="fade"></div>
                </div>
                <div class="d-flex align-items-center h-100">
                  <div class="container">
                    <div class="row align-items-center h-100">
                      <div class="col-10 mr-auto ml-lg-0 col-lg-5">
                        <div class="main_carousel__content ad-900ms fadeIn text-light px-8 px-md-6 mx-lg-4 mx-xl-0">
                          <h3 class="carousel__heading text-light fadeInDown ad-500ms">The E-sports Platform By Mohamed bayoudh !</h3>
                          <p class="carousel__text lead-1 mb-6 fadeInDown ad-600ms">Game globally with Mohamed Bayoudh's ESports platform – your ultimate online arena for competitive gaming and worldwide tournaments. Immerse yourself in thrilling matches while seizing the opportunity to earn real money through seamless streaming. Additionally, leverage our platform to showcase and sell your exclusive products, including stylish merchandise like shirts. Join us in revolutionizing gaming, where passion meets profit, and excellence is not only recognized but rewarded. Elevate your gaming experience, amplify your brand, and turn your skills into success!</p>
                          <div class="d-flex fadeInLeft ad-900ms">
                          <a class="disabled btn btn-lg bg-dark_A-50 o-1 text-light br-round-0tr br-round-0br parallelogram un_text mb-0"><span class="d-block text-warning"><span class="carousel__discount td-lt text-light">250$</span> 229$</span></a>
                          <a href="store-product.html" class="btn btn-lg btn-light parallelogram br-round-0tl br-round-0bl un_text mb-0"><span class="d-block">Buy</span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.carousel-item -->
          </div>
          <!-- Carousel nav -->
          <div class="carousel-control-prev a-out-t"><a class="text-light" href="#carousel_main" data-slide="prev"><span class="icon-cl-prev text-shadow pe-7s-angle-left"></span></a></div>
          <div class="carousel-control-next a-out-t"><a class="text-light" href="#carousel_main" data-slide="next"><span class="icon-cl-next text-shadow pe-7s-angle-right"></span></a></div>
        </div>
      </header>
      <!-- /.header -->
  
    <!-- Start Content Area -->
    <section class="content-section owl-carousel-spotlight carousel-spotlight ig-carousel text-light" style="background-image: url(../front_office/assets/img/bg/bg_shape.png);">
        <div class="container">
            <header class="header">
                <h2>Most popular products</h2>
            </header>
            <div class="position-relative">
                <!-- nav tabs -->
                <ul class="spotlight-tabs spotlight-tabs-dark nav nav-tabs border-0 mb-5 position-relative text-nwp flex-nowrap" id="most_popular_products-carousel" role="tablist">
                    <li class="nav-item text-fnwp pg-none relative">
                        <a class="nav-link active" id="mp-01-tab" data-toggle="tab" href="#mp-01-c" role="tab" aria-controls="mp-01-c" aria-selected="true">New</a>
                    </li>
                    <li class="nav-item text-fnwp relative">
                        <a class="nav-link" id="mp-02-tab" data-toggle="tab" href="#mp-02-c" role="tab" aria-controls="mp-02-c" aria-selected="false">Highlights</a>
                    </li>
                    <li class="nav-item text-fnwp relative">
                        <a class="nav-link" id="mp-03-tab" data-toggle="tab" href="#mp-03-c" role="tab" aria-controls="mp-03-c" aria-selected="false">Coming Soon</a>
                    </li>
                </ul>
                <!-- tab panes -->
                <div id="color_sel_Carousel-content" class="tab-content fl-scn relative w-100">

                    <!-- tab item -->
                    <div class="tab-pane fade show active" id="mp-01-c" role="tabpanel" aria-labelledby="mp-01-tab">
                        <div class="owl-carousel gs-carousel" data-carousel-margin="30" data-carousel-nav="true" data-carousel-navText="<span class='icon-cl-next pe-7s-angle-left'></span>, <span class='icon-cl-next pe-7s-angle-right'></span>">
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_01.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Creature 2020</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€24.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_02.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Shadow Leap</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€22.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_03.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">MechaOne: New Gen.</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_04.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Death Stranding: Golden Mask</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_05.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">ONI Deluxe Edition</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€41.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_06.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Engineer</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€41.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- tab item -->
                    <div class="tab-pane fade" id="mp-02-c" role="tabpanel" aria-labelledby="mp-02-tab">
                        <div class="owl-carousel gs-carousel" data-carousel-margin="30" data-carousel-nav="true" data-carousel-navText="<span class='icon-cl-next pe-7s-angle-left'></span>, <span class='icon-cl-next pe-7s-angle-right'></span>">
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_03.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">MechaOne: New Gen.</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_04.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Death Stranding: Golden Mask</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_01.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Creature 2020</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€24.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_02.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Shadow Leap</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€22.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_03.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">MechaOne: New Gen.</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_04.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Death Stranding: Golden Mask</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_05.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">ONI Deluxe Edition</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€41.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_06.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Engineer</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€41.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- tab item -->
                    <div class="tab-pane fade" id="mp-03-c" role="tabpanel" aria-labelledby="mp-03-tab">
                        <div class="owl-carousel gs-carousel" data-carousel-margin="30" data-carousel-nav="true" data-carousel-navText="<span class='icon-cl-next pe-7s-angle-left'></span>, <span class='icon-cl-next pe-7s-angle-right'></span>">
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_05.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">ONI Deluxe Edition</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€41.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_06.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Engineer</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€41.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_01.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Creature 2020</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€24.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_02.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Shadow Leap</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€22.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_03.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">MechaOne: New Gen.</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_04.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Death Stranding: Golden Mask</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End Content Area -->

    <!-- Start Content Area -->
    <section class="section gs_features">
        <div class="row no-gutters">
            <div class="col-xl-6 col-12 py-8 px-4 px-sm-8 py-md-9 px-md-9 br-n bs-c effect-wrapper effect-grayscale position-relative hover" style="background-image: url('../front_office/assets/img/content/cont/cg-fl_01.jpg');">
                <div class="overlay bg-light_A-90 d-md-none"></div>
                <div class="row h-100 align-items-center content">
                    <div class="col-12 col-md-8 ml-auto text-secondary text-md-right">
                        <small class="d-block text-uppercase fw-600 ls-3">New</small>
                        <h2 class="mb-4">An Incredible Journey</h2>
                        <span class="d-block text-uppercase ls-3 mb-6">Only On Wicodus</span>
                        <a href="store-product.html" class="btn btn-lg btn-outline-secondary btn-round">Explore</a>
                    </div>
                </div>
                <figure class="d-none d-md-block effect-layla effect-layla-dark"></figure>
            </div>
            <div class="col-xl-6 col-12 py-8 px-4 px-sm-8 py-md-9 px-md-9 br-n bs-c" style="background-image: url('../front_office/assets/img/content/cont/cg-fl_03.jpg');" data-overlay="7">
                <div class="row align-items-center h-100">
                    <div class="col-sm-6 col-md-4 mb-5 mb-md-0">
                        <figure class="position-relative my-0">
                            <div style="background-image: url('../front_office/assets/img/content/cont/cg_07.jpg');" class="main-fb-product bs-c bp-c br-n">
                                <div class="position-absolute t-0 r-0 px-4 py-1 bg-danger text-white text-uppercase fw-600">-50%</div>
                                <div class="position-absolute b-0 w-100 text-center">
                                    <div data-countdown="2021/01/25 12:34:56" class="countdown-coupon bg-dark_A-50 py-3 text-light fw-700 timer"></div>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="col-md-8 text-light">
                        <h2 class="text-light mb-4">Informant</h2>
                        <p class="mb-7">Mauris euismod aliquam erat, a vestibulum tortor bibendum sit amet. Duis vitae augue non dolor fermentum faucibus non quis justo. Sed consequat accumsan turpis et semper. Nulla blandit blandit est, nec tincidunt neque sollicitudin vitae.</p>
                        <a href="store-product.html" class="btn btn-lg btn-danger btn-round"><i class="fa fa-shopping-cart mr-5" aria-hidden="true"></i>Buy</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xl-6 py-8 px-4 px-sm-8 py-md-9 px-md-9 bs-c" style="background-image: url('../front_office/assets/img/content/cont/cg-fl_04.jpg');" data-overlay="7">
                <div class="row align-items-center h-100">
                    <div class="col-sm-6 col-md-4 order-md-2 mb-6 mb-md-0">
                        <figure class="position-relative my-0">
                            <div style="background-image: url('../front_office/assets/img/content/cont/cg_08.jpg');" class="main-fb-product bs-c bp-c br-n">
                                <div class="position-absolute t-0 r-0 px-4 py-1 bg-danger text-white text-uppercase fw-600">-72%</div>
                                <div class="position-absolute b-0 w-100 text-center">
                                    <div data-countdown="2021/02/11 12:34:56" class="countdown-coupon bg-dark_A-50 py-3 text-light fw-700 timer"></div>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="col-md-8 order-md-1 text-light text-md-right">
                        <h2 class="mb-4">Haku Recalibration</h2>
                        <p class="mb-7">Mauris euismod aliquam erat, a vestibulum tortor bibendum sit amet. Duis vitae augue non dolor fermentum faucibus non quis justo. Sed consequat accumsan turpis et semper. Nulla blandit blandit est, nec tincidunt neque sollicitudin vitae.</p>
                        <a href="store-product.html" class="btn btn-lg btn-danger btn-round"><i class="fa fa-shopping-cart mr-5" aria-hidden="true"></i>Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-12 py-8 px-4 px-sm-8 py-md-9 px-md-9 bs-c effect-wrapper effect-grayscale position-relative hover" style="background-image: url('../front_office/assets/img/content/cont/cg-fl_02.jpg');">
                <div class="overlay bg-light_A-90 d-md-none"></div>
                <div class="row h-100 align-items-center content">
                    <div class="col-12 col-md-6 mr-auto text-secondary text-left">
                        <small class="d-block text-uppercase fw-600 ls-3">Action</small>
                        <h2 class="mb-4">Shark Project</h2>
                        <span class="d-block lead-1 text-uppercase ls-3 mb-7">An amazing experience from beginning to end.</span>
                        <a href="store-product.html" class="btn btn-lg btn-outline-secondary btn-round">Explore the Sky</a>
                    </div>
                </div>
                <figure class="d-none d-md-block effect-layla effect-layla-dark"></figure>
            </div>
        </div>
    </section>
    <!-- End Content Area -->

    <!-- Start Content Area -->
    <section class="content-section text-light" style="background: linear-gradient(to bottom, #111931 0%, #0f131e 100%);">
        <div class="container">
            <header class="header text-left">
                <h2 class="mb-6">Latest News</h2>
            </header>
            <div class="row">
                <!-- Post -->
                <div class="col-12 mb-8">
                    <div class="row">
                        <div class="col-lg-4 mb-6 mb-lg-0">
                            <div class="card">
                                <div class="img__news_wrapper"><img src="../front_office/assets/img/content/img_01.jpg" alt="News"></div>
                                <div class="badges badges-left badges-bottom text-white">
                                    <div class="rating_circle-wrapper">
                        <span class="rating_circle-foreground">
                            <span class="rating_circle-number">9.7</span>
                        </span>
                                        <span class="rating_circle" data-rating-total="9"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <h4 class="text-uppercase mb-3"><a href="#">THE FRESHEST THREADS: UNVEILING OUR LATEST SHIRT COLLECTION BY MOHAMED BAYOUDH!'</a></h4>
                            <div class="mb-3 small text-info">
                                <span><i class="fas fa-tags"></i> -50% in the new Collection </span> <span class="mx-1">-</span> <span>23th November 2023</span>
                            </div>
                            <p>Indulge in style with our newest shirt collection, where fashion meets comfort and trend seamlessly intertwines. Explore a fusion of contemporary designs, quality fabrics, and expressive details that elevate your wardrobe. Each piece is a statement, reflecting the spirit of modern aesthetics. Elevate your fashion game with the latest trends – discover the epitome of comfort, confidence, and charisma. Unveil your style, one shirt at a time.</p>
                            <a href="news.html" class="btn btn-outline-light">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Post -->
                <div class="col-12 mb-8">
                    <div class="row">
                        <div class="col-lg-4 mb-6 mb-lg-0">
                            <div class="card">
                                <div class="img__news_wrapper"><img src="../front_office/assets/img/content/img_02.jpg" alt="News"></div>
                                <div class="badges badges-left badges-bottom text-white">
                                    <div class="rating_circle-wrapper">
                        <span class="rating_circle-foreground">
                            <span class="rating_circle-number">7.4</span>
                        </span>
                                        <span class="rating_circle" data-rating-total="7"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <h4 class="text-uppercase mb-3">Get Consectetur in the new Humble Bundle</h4>
                            <div class="mb-3 small text-info">
                                <span><i class="fas fa-tags"></i> Cras quis lacus dolor, Quisque dictum sollicitudin</span> <span class="mx-1">-</span> <span>4th October 2021</span>
                            </div>
                            <p>Donec vestibulum, odio a sagittis vestibulum, eros nunc consectetur ex, eu tincidunt neque lacus ac lorem. Mauris interdum urna id eros dignissim convallis. Aliquam convallis, nisi in facilisis tincidunt, augue nunc efficitur lectus, ut auctor orci purus sed neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            <a href="news.html" class="btn btn-outline-light">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Post -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4 mb-6 mb-lg-0">
                            <div class="card">
                                <div class="img__news_wrapper"><img src="../front_office/assets/img/content/img_03.jpg" alt="News"></div>
                                <div class="badges badges-left badges-bottom text-white">
                                    <div class="rating_circle-wrapper">
                        <span class="rating_circle-foreground">
                            <span class="rating_circle-number">8.2</span>
                        </span>
                                        <span class="rating_circle" data-rating-total="8"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <h4 class="text-uppercase mb-3">THE FRESHEST THREADS: UNVEILING OUR LATEST SHIRT COLLECTION BY MOHAMED BAYOUDH!</h4>
                            <div class="mb-3 small text-info">
                                <span><i class="fas fa-tags"></i> -50% in the new Collection</span> <span class="mx-1">-</span> <span>23th November 2023</span>
                            </div>
                            <p>Indulge in style with our newest shirt collection, where fashion meets comfort and trend seamlessly intertwines. Explore a fusion of contemporary designs, quality fabrics, and expressive details that elevate your wardrobe. Each piece is a statement, reflecting the spirit of modern aesthetics. Elevate your fashion game with the latest trends – discover the epitome of comfort, confidence, and charisma. Unveil your style, one shirt at a time.</p>
                            <a href="news.html" class="btn btn-outline-light">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /.End Content Area -->

    <!-- banner -->
    <div class="content-section pt-0">
        <div class="container">
            <a href="#" class="d-block">
                <div class="position-relative br-n bs-cont bp-c" style="background-image: url(front_office/../front_office/assets/img/content/banner_01.jpg);">
                    <img src="../front_office/assets/img/content/banner_01.jpg" alt="banner" class="invisible" />
                </div>
            </a>
        </div>
    </div>
    <!-- /.banner -->


    </main>

    <!-- footer -->
    {% block footer %}
    <footer class="footer footer-dark bg-dark py-9">
        <div class="container">
            <div class="row gutters-y">
                <div class="col-6 col-lg-3">
                    <a href="#" class="logo d-block mb-4"><img
                            src="{{ asset('front_office/assets/img/logo-gaming.png') }}" alt="Wicodus"
                            class="logo-dark"></a>
                    <p>Game globally with Mohamed Bayoudh's ESports platform – your online arena for competitive gaming and worldwide tournaments.</p>
                    <div class="social-buttons">
                        <a class="social-twitter" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="social-dribbble" href="#"><i class="fab fa-dribbble"></i></a>
                        <a class="social-instagram" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>

                <div class="col-6 col-lg-2">
                    <h6 class="text-uppercase fw-600 mb-4">About</h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="about.html">Our team</a>
                        <a class="nav-link" href="about.html">Careers</a>
                        <a class="nav-link" href="about.html">Cookie Policy</a>
                        <a class="nav-link" href="about.html">Privacy Policy</a>

                    </div>
                </div>

                <div class="col-6 col-lg-2">
                    <h6 class="text-uppercase fw-600 mb-4">Community</h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="news.html">Forum</a>
                        <a class="nav-link" href="news.html">Blog</a>
                        <a class="nav-link" href="news.html">News</a>
                        <a class="nav-link" href="news.html">Team</a>
                    </div>
                </div>

                <div class="col-6 col-lg-2">
                    <h6 class="text-uppercase fw-600 mb-4">Help</h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                        <a class="nav-link" href="contact.html">Support</a>
                        <a class="nav-link" href="contact.html">Terms & conditions</a>
                        <a class="nav-link" href="contact.html">Refund policy</a>
                    </div>
                </div>

                <div class="col col-lg-3 order-lg-last">
                    <div class="mb-2">
                        <h6 class="text-uppercase fw-600 mb-4">Ways to pay</h6>
                        <div class="text-light lead-5">
                            <a href="store.html" class="mr-2"><i class="fab fa-cc-paypal"></i></a>
                            <a href="store.html" class="mr-2"><i class="fab fa-cc-visa"></i></a>
                            <a href="store.html" class="mr-2"><i class="fab fa-cc-amazon-pay"></i></a>
                            <a href="store.html" class="mr-2"><i class="fab fa-cc-stripe"></i></a>
                            <a href="store.html" class="mr-2"><i class="fab fa-cc-jcb"></i></a>
                        </div>
                    </div>
                    <div>
                        <h6 class="mb-2">Reviews</h6>
                        <div class="text-warning lead-1">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.footer -->
    {% endblock %}
    
     <!-- sign Up -->
    <div class="modal fade" id="createuser" tabindex="-1" role="dialog" aria-labelledby="createuserTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header border-secondary">
                    <h5 class="modal-title" id="userLoginTitle">Log in</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="text-center my-6">
                            <a class="btn btn-circle btn-sm btn-google mr-2" href="#"><i class="fab fa-google"></i></a>
                            <a class="btn btn-circle btn-sm btn-facebook mr-2" href="#"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-circle btn-sm btn-twitter" href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                        <span class="hr-text small my-6">Or</span>
                    </div>

                    <div class="input-transparent">
                        
                        {{ form_start(formcreateuser) }}
                       
                        <div class="form-group">
                            <div class="img-xl position-relative br-n bp-c bs-c article-image ar-1_1 mx-auto rounded-circle border border-secondary mb-6" style="background-image: url('noimage.jpg')">
                                <span class="position-absolute b-0 r-0 text-secondary lead-3 d-block bg-warning p-2 rounded-circle lh-1">{{ form_row(formcreateuser.photoprofile, { 'attr': {'class': 'custom-file-input position-absolute l-0 t-0 b-0 h-auto'} }) }}<i class="far fa-image"></i></span>
                              </div>
                              {% for flashMessage in app.flashes('error') %}
                              <div class="alert alert-danger">{{ flashMessage }}</div>
                          {% endfor %}
                        </div>
                        
                        <div class="form-group">
                            {{ form_row(formcreateuser.nom, { 'attr': {'class': 'form-control border-secondary'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(formcreateuser.prenom, { 'attr': {'class': 'form-control border-secondary'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(formcreateuser.tag, { 'attr': {'class': 'form-control border-secondary'} }) }}
                        </div>
                       
                        <div class="form-group">
                            {{ form_row(formcreateuser.email, { 'attr': {'class': 'form-control border-secondary'} }) }}
                        </div>
                        <div>
                            {{ form_row(formcreateuser.password, { 'attr': {'class': 'form-control border-secondary'} }) }}
                        </div>
                        <div class="form-group">
                            &nbsp;
                            {{ form_widget(formcreateuser.date_naissance, { 'attr': {'class': 'form-control border-secondary', 'style':'color : white'} }) }}
    
                        </div>
                        <div class="form-group">
                            {{ form_row(formcreateuser.phone, { 'attr': {'class': 'form-control border-secondary'} }) }}
                        </div>
                        <div>
                            {{ form_row(formcreateuser.about, { 'attr': {'class': 'form-control form-control'} }) }}
                        </div>
                        <div class="form-group mt-6">
                            {{ form_row(formcreateuser.Enregistrer, { 'attr': {'class': 'btn btn-block btn-warning'} }) }}
                        </div>
                        {{ form_end(formcreateuser) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.sign Up --> 


    <!-- sign IN -->
    <div class="modal fade" id="userLogin" tabindex="-1" role="dialog" aria-labelledby="userLoginTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header border-secondary">
                    <h5 class="modal-title" id="userLoginTitle">Log in</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="text-center my-6">
                            <a class="btn btn-circle btn-sm btn-google mr-2" href="#"><i class="fab fa-google"></i></a>
                            <a class="btn btn-circle btn-sm btn-facebook mr-2" href="#"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-circle btn-sm btn-twitter" href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                        <span class="hr-text small my-6">Or</span>
                    </div>
                    <div class="input-transparent">
                        {{ form_start(formLogin,{'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="form-group">
                            <div class="form-group">
                                {{ form_row(formLogin.email, { 'attr': {'class': 'form-control border-secondary'} }) }}
                                
                            </div>
                            <div>
                                {{ form_row(formLogin.password, { 'attr': {'class': 'form-control border-secondary'} }) }}
                            </div>
                        <div class="form-group d-flex justify-content-between">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" checked="" id="rememberMeCheck">
                                <label class="custom-control-label" for="rememberMeCheck">Remember me</label>
                            </div>
                            <a class="small-3" href="{{path('envoiemail')}}">Forgot password?</a>
                        </div>
                        <div class="form-group mt-6">
                            {{ form_row(formLogin.Login, { 'attr': {'class': 'btn btn-block btn-warning'} }) }}
                        </div>
                        {{ form_end(formLogin) }}
                    </div>
                    <span class="small">Don't have an account? <a href="{{ url('home', {'SignUp': 'true'}) }}" >Create an account</a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /.sign In -->

    <!-- offcanvas-cart -->
    <div id="offcanvas-cart" class="offcanvas-cart offcanvas text-light h-100 r-0 l-auto d-flex flex-column"
        data-animation="slideRight">
        <div>
            <button type="button" data-toggle="offcanvas-close" class="close float-right ml-4 text-light o-1 fw-100"
                data-dismiss="offcanvas" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <hr class="border-light o-20 mt-8 mb-4">
        </div>
        <div class="offcanvas-cart-body flex-1">
            <div class="offcanvas-cart-list row align-items-center no-gutters">
                <div class="ocs-cart-item col-12">
                    <div class="row align-items-center no-gutters">
                        <div class="col-3 item_img d-none d-sm-block">
                            <a href="store-product.html"><img class="img bl-3 text-primary"
                                    src="front_office/assets/img/content/store/h-08.jpg" alt="Product"></a>
                        </div>
                        <div class="col-7 flex-1 flex-grow pl-0 pl-sm-4 pr-4">
                            <a href="store-product.html"><span
                                    class="d-block item_title text-lt ls-1 lh-1 small-1 fw-600 text-uppercase mb-2">Journey
                                    of the Solarcity</span></a>
                            <div class="position-relative lh-1">
                                <div class="number-input">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i
                                            class="ti-minus"></i></button>
                                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i
                                            class="ti-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row align-items-center h-100 no-gutters">
                                <div class="ml-auto text-center">
                                    <a href="#"><i class="far fa-trash-alt"></i></a><br>
                                    <span class="fw-500 text-warning">€44.99</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ocs-cart-item col-12">
                    <div class="row align-items-center no-gutters">
                        <div class="col-3 item_img d-none d-sm-block">
                            <a href="store-product.html"><img class="img bl-3 text-primary"
                                    src="front_office/assets/img/content/store/h-09.jpg" alt="Product"></a>
                        </div>
                        <div class="col-7 flex-1 flex-grow pl-0 pl-sm-4 pr-4">
                            <a href="store-product.html"><span
                                    class="d-block item_title text-lt ls-1 lh-1 small-1 fw-600 text-uppercase mb-2">Exploration
                                    Memories</span></a>
                            <div class="position-relative lh-1">
                                <div class="number-input">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i
                                            class="ti-minus"></i></button>
                                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i
                                            class="ti-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row align-items-center h-100 no-gutters">
                                <div class="ml-auto text-center">
                                    <a href="#"><i class="far fa-trash-alt"></i></a><br>
                                    <span class="fw-500 text-warning">€27.59</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a href="checkout-order.html" class="btn btn-lg btn-block btn-outline-light">View cart</a>
        </div>
    </div>
    <!-- /.offcanvas-cart -->

    <!-- jQuery -->
    <script src="front_office/assets/js/jquery.min.js"></script>
    
<script src="{{ asset('front_office/assets/plugins/parallax/parallax.js') }}"></script>
    <!-- Bootstrap -->
    <script src="front_office/assets/js/bootstrap.min.js"></script>

    <!-- User JS -->
    <script src="front_office/assets/js/scripts.js"></script>

    <!-- Main JS -->
    <script src="front_office/assets/js/main.js" id="_mainJS" data-plugins="load"></script>
</body>

<!-- Mirrored from scanthemes.com/demo/HTML/wicodus/main.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 16:06:20 GMT -->

</html>


    {% if app.request.query.get('SignIn') == 'true' %}
        <script>
    $(document).ready(function() {
        $('#userLogin').modal('show');
    });
</script>
    {% endif %}

    {% if app.request.query.get('SignUp') == 'true' %}
        <script>
    $(document).ready(function() {
        $('#createuser').modal('show');
    });
</script>
    {% endif %}
   