{% extends 'base1.html.twig' %}
{% block body %}
<div class="col-lg-9 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Table des jeux</h4>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOM DE JEUX</th>
                        <th>DATE AJOUT</th>
                        <th>MAX_PLAYERS</th>
                        <th>Image</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for f in jeux %}
                    <tr>
                        <td>{{ f.id }}</td>
                        <td>{{ f.nomGame }}</td>
                        <td>{{ f.DateAddGame.format('Y-m-d') }}</td>
                        <td>{{ f.maxPlayers }}</td>
                        <td>
                            <a id="show-image-button-{{ f.id }}" href="{{ asset('./uploads/pictureJeux/'~f.image) }}" target="_blank"><img src="{{ asset('./uploads/pictureJeux/'~f.image) }}" id="original-image"></a>
                        </td>
                        <td>
                         <a href="{{ path('modifier_jeu', {'id': f.id}) }}" class="btn btn-outline-secondary btn-icon-text">  Modifier <i class="mdi mdi-file-check btn-icon-append"></i></a>
                        </td>
                        <td>
                            <a href="{{ path('supprimer_jeux', {'id': f.id}) }}" class="btn btn-outline-danger btn-icon-text">  Supprimer <i class="mdi mdi-bitbucket"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                {{ knp_pagination_render(jeux, 'pagination.html.twig') }}
            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">

        <div class="card" >
            <div class="card-body" >
                <h4 class="card-title">Ajouter un jeu</h4>
                {{ form(form) }}
                {% if update_form is defined %}
                {{ form(update_form) }}
            </div>
            {% endif %}
        </div> </div>
</div>
</div>

    <!-- Form -->


    <script>
        function showOriginalImage(event) {
            var originalImageSrc = event.target.firstChild.src;
            window.location.href = originalImageSrc;
        }

        var buttons = document.querySelectorAll('[id^="show-image-button-"]');
        buttons.forEach(function(button) {
            button.addEventListener("click", showOriginalImage);
        });
    </script>
{% endblock %}