{% extends 'base1.html.twig' %}

{% block title %} <center>----------Liste des produits</center> {% endblock %}

{% block body %}

<div class="row grid-margin stretch-card">



    <div class="col-10">
        <center>
            <h1>Liste des Cours a verifier</h1>
        </center>
        <table class="table table-bordered custom-table">
            <thead>
                <tr>
                    <th>image</th>
                    <th>Titre</th>
                    <th>Coach name</th>
                    <th>game of course</th>
                    <th>Niveau</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for c in courses %}
                {% if c.etat==0 %}
                <tr>
                    <td> <img class="img bl-3 text-primary" src="{{asset('uploads/pictureCourses/'~c.image)}}"
                            alt="Games Store"></td>
                    <td>{{ c.titre }}</td>
                    <td>{{ c.getIdCoach.nom }}</td>
                    <td>{{ c.getIdJeux.nomGame }}</td>
                    <td>{{ c.niveau }}</td>
                    <td style="white-space: pre-wrap;">{{ c.description }}</td>
                    <td>{{ c.prix }} <img src="{{ asset('back_office/kamell.png') }}" alt="coin"
                            style="width: 16px; height: 16px;"></td>
                    <td>
                        <a onclick="afficherCours('{{asset('uploads/videoCourses/'~c.video)}}')"
                            class="btn btn-inverse-warning btn-fw">consulter video</a>
                        <a href="{{ path('updateStateTrue', {'id': c.id}) }}"
                            class="btn btn-inverse-info btn-fw">Accepter</a>
                        <a href="{{ path('updateStateFalse', {'id': c.id}) }}"
                            class="btn btn-inverse-danger btn-fw">refuser</a>
                    </td>

                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

    </div>


    <div class="col-10">
        <center>
            <h1>Liste des Cours deja accepter</h1>
        </center>
        <table class="table table-bordered custom-table">
            <thead>
                <tr>
                    <th>image</th>
                    <th>Titre</th>
                    <th>Coach name</th>
                    <th>game of course</th>
                    <th>Niveau</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>consulter video</th>
                </tr>
            </thead>
            <tbody>
                {% for c in courses %}
                {% if c.etat == 1 %}
                <tr>
                    <td> <img class="img bl-3 text-primary" src="{{asset('uploads/pictureCourses/'~c.image)}}"
                            alt="Games Store"></td>
                    <td>{{ c.titre }}</td>
                    <td>{{ c.getIdCoach.nom }}</td>
                    <td>{{ c.getIdJeux.nomGame }}</td>
                    <td>{{ c.niveau }}</td>
                    <td style="white-space: pre-wrap;">{{ c.description }}</td>
                    <td>{{ c.prix }} <img src="{{ asset('back_office/kamell.png') }}" alt="coin"
                            style="width: 16px; height: 16px;"></td>
                    <td>
                        <a onclick="afficherCours('{{asset('uploads/videoCourses/'~c.video)}}')"
                            class="btn btn-inverse-warning btn-fw">consulter video</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="col-10">
        <center>
            <h1>Liste des Cours refuser</h1>
        </center>
        <table class="table table-bordered custom-table">
            <thead>
                <tr>
                    <th>image</th>
                    <th>Titre</th>
                    <th>Coach name</th>
                    <th>game of course</th>
                    <th>Niveau</th>
                    <th>Description</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for c in courses %}
                {% if c.etat == (-1) %}
                <tr>
                    <td> <img class="img bl-3 text-primary" src="{{asset('uploads/pictureCourses/'~c.image)}}"
                            alt="Games Store"></td>
                    <td>{{ c.titre }}</td>
                    <td>{{ c.getIdCoach.nom }}</td>
                    <td>{{ c.getIdJeux.nomGame }}</td>
                    <td>{{ c.niveau }}</td>
                    <td style="white-space: pre-wrap;">{{ c.description }}</td>
                    <td>{{ c.prix }} <img src="{{ asset('back_office/kamell.png') }}" alt="coin"
                            style="width: 16px; height: 16px;"></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>


<!-- Code pour le modal -->
<!-- Code pour le modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="height: 450px;">
                <video id="videoModal" controls style="width: 100%; height: 100%; object-fit: contain;">
                    <source id="videoSource" src="" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>

<script>
    function afficherCours(videoUrl) {
        var video = document.getElementById("videoModal");
        var source = document.getElementById("videoSource");
        source.setAttribute("src", videoUrl);
        video.load();
        $("#myModal").modal("show");
    }
</script>

{% endblock %}