{% extends 'base.html.twig' %}

{% block title %}My courses{% endblock %}

{% block body %}
    <main class="main-content">

        <!-- Start Content Area -->
        <section class="content-section top_sellers carousel-spotlight ig-carousel pt-8 text-light">
            <div class="mt-8 container">
                <header class="header">
                    {% if app.request.get('error') is not null %}
                        <div class="alert alert-danger">
                            <center>
                                {{ app.request.get('error') }}
                            </center>
                        </div>
                        {% elseif app.request.get('enjoy') is not null%}
                            <div class="alert alert-success">
                                <center>
                                    {{ app.request.get('enjoy') }}
                                </center>
                            </div>
                    {% endif %}

                    <script>
                        let alertDiv = document.querySelector('.alert');
                        setTimeout(function(){
                            alertDiv.style.opacity = 0;
                            setTimeout(function(){
                                alertDiv.style.display = "none";
                            }, 1000);
                        }, 5000);

                        // Get the current URL
                        var currentUrl = window.location.href;

                        // Check if the URL contains any query parameters
                        if (currentUrl.includes('?')) {
                            // Remove the query parameter from the URL
                            var updatedUrl = currentUrl.replace(/(\?|\&)([^=]+)=([^&]+)/g, function(match, p1, p2, p3) {
                                if (p2 === 'enjoy') {
                                    return ''; // Exclude the 'enjoy' parameter from removal
                                } else {
                                    return p1 + encodeURIComponent(p2) + '=' + encodeURIComponent(p3);
                                }
                            }).replace(/\?&/, '?').replace(/&$/, '');

                            // Replace the current URL with the updated URL
                            window.history.replaceState({}, document.title, updatedUrl);
                        }


                    </script>

                        <h2>My wishlist Courses</h2>
                </header>
                <div class="position-relative">
                    <div class="row">

                        <div class="col-lg-12">
                            <!-- nav tabs -->

                            <!-- tab panes -->
                            <div id="color_sel_Carousel-content_02" class="tab-content position-relative w-100">
                                <!-- tab item -->
                                <div class="tab-pane fade active show" id="mp-2-01-c" role="tabpanel" aria-labelledby="mp-2-01-tab">
                                    <div class="row">




                                        <!-- BOUCLE FOR LENNA -->
                                        {% for c in wishlist %}
                                            <!-- item -->
                                            {% if c.favori == true %}
                                            <div class="col-6 mb-8">

                                                <a href="{{ path('oneCourse', {'id': c.getIdCours.id}) }}" class="product-item">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="item_img d-none d-sm-block">
                                                            <img class="img bl-3 text-primary" src="{{asset('uploads/pictureCourses/'~c.getIdCours.image)}}" alt="Games Store">
                                                        </div>
                                                        <div class="item_content flex-1 flex-grow pl-0 pl-sm-6 pr-6">
                                                            <h6 class="item_title ls-1 small-1 fw-600 text-uppercase mb-1">{{ c.getIdCours.titre }}</h6>

                                                            <div class="position-relative">
                                                                <a href="{{ path('CoachCourses', {'id': c.getIdCours.getIdCoach.id, 'etat': 1}) }}">coach : {{ c.getIdCours.getIdCoach.getNom }}</a>
                                                            </div>
                                                        </div>
                                                        <div class="item_discount d-none">
                                                            <div class="row align-items-center h-100 no-gutters">
                                                                <div class="text-right text-secondary px-6">
                                                                    <span class="fw-600 btn bg-warning">-10%</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Price -->
                                                        <div class="item_price">
                                                            <div class="row align-items-center h-100 no-gutters">
                                                                <div class="text-right">

                                                                    {% if c.getIdCours.prix>0 %}
                                                                        <span class="fw-600">{{ c.getIdCours.prix }} Points</span>
                                                                    {% else %}
                                                                        <span class="fw-600">free</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </a>
                                            </div>
                                              {% endif %}
                                        {% endfor %}




                                        <!-- /.item -->

                                    </div>
                                </div>
                                <!-- tab item -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.End Content Area -->
        <!-- Start Content Area -->
        <section class="content-section top_sellers carousel-spotlight ig-carousel pt-8 text-light">
            <div class="mt-8 container">
                <header class="header" >
                    <h2>My owned Courses</h2>
                </header>
                <div class="position-relative">
                    <div class="row">

                        <div class="col-lg-12">
                            <!-- nav tabs -->

                            <!-- tab panes -->
                            <div id="color_sel_Carousel-content_02" class="tab-content position-relative w-100">
                                <!-- tab item -->
                                <div class="tab-pane fade active show" id="mp-2-01-c" role="tabpanel" aria-labelledby="mp-2-01-tab">
                                    <div class="row">




                                        <!-- BOUCLE FOR LENNA -->
                                        {% for c in wishlist %}
                                        {% if c.acheter == true %}

                                            <!-- item -->
                                            <div class="col-6 mb-8">

                                                <a href="{{ path('oneCourse', {'id': c.getIdCours.id}) }}" class="product-item">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="item_img d-none d-sm-block">
                                                            <img class="img bl-3 text-primary" src="{{asset('uploads/pictureCourses/'~c.getIdCours.image)}}" alt="Games Store">
                                                        </div>
                                                        <div class="item_content flex-1 flex-grow pl-0 pl-sm-6 pr-6">
                                                            <h6 class="item_title ls-1 small-1 fw-600 text-uppercase mb-1">{{ c.getIdCours.titre }}</h6>

                                                            <div class="position-relative">
                                                                    <a href="{{ path('CoachCourses', {'id': c.getIdCours.getIdCoach.id, 'etat': 1}) }}">coach : {{ c.getIdCours.getIdCoach.getNom }}</a>
                                                            </div>
                                                        </div>
                                                        <div class="item_discount d-none">
                                                            <div class="row align-items-center h-100 no-gutters">
                                                                <div class="text-right text-secondary px-6">
                                                                    <span class="fw-600 btn bg-warning">-10%</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% if c.acheter == 1 %}
                                                            <a href="{{ path('generate_invoice', {'id': c.getIdCours.id}) }}" class="btn btn-danger mr-7">facture</a>
                                                        {% endif %}




                                                        <!-- Price -->
                                                        <div class="item_price">
                                                            <div class="row align-items-center h-100 no-gutters">
                                                                <div class="text-right">

                                                                    {% if c.getIdCours.prix>0 %}
                                                                        <span class="fw-600">{{ c.getIdCours.prix }} Points</span>
                                                                    {% else %}
                                                                        <span class="fw-600">free</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </a>
                                            </div>
                                        {% endif %}
                                        {% endfor %}




                                        <!-- /.item -->

                                    </div>
                                </div>
                                <!-- tab item -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.End Content Area -->





    </main>
{% endblock %}