


{% extends 'base.html.twig' %}
        {% block body %}
            <header>

                <link rel='stylesheet' id='overworld-edge-modules-css' href='{{ asset('wp-content/themes/overworld/assets/css/modules.min1eb7.css?ver=6.0.3') }}' type='text/css' media='all' />
                <link rel='stylesheet'  href="https://fonts.googleapis.com/css2?family=Android+101&display=swap"  />
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
                <link href="https://fonts.googleapis.com/css2?family=Android+101&display=swap" rel="stylesheet">
            </header>
            <body>
            <div class="overlay overflow-hidden pe-n"><img src="{{ asset('front_office/assets/img/bg/bg_shape.png') }}"
                                                           alt="Background shape"></div>
            <center>

                <h1 style="color: white;font-size: 90px; font-family: 'Android 101', sans-serif;" class="edgtf-st-title animated animate__bounceInDown">Groupe rejoindue<br/></h1>

            </center>
            <div class="edgtf-row-grid-section-wrapper edgtf-content-aligment-left">
                <center>

                </center>
                <div class="edgtf-row-grid-section">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">

                                    <div class="edgtf-tournament-list-holder edgtf-grid-list edgtf-disable-bottom-space edgtf-three-columns edgtf-normal-space"
                                         data-number-of-columns="three" data-enable-navigation="no"
                                         data-enable-pagination="no"
                                         data-slider-margin="no">



                                        <div class="edgtf-pl-inner edgtf-outer-space ">
                                            {% for g in groupes %}
                                                {% if g.etat == 1 %}
                                                    <div class="edgtf-tournament edgtf-item-space edgtf-info-on-image">
                                                        <div class="edgtf-tournament-inner">
                                                            <div class="edgtf-tournament-image">
                                                                <img width="800" height="507"
                                                                     src="{{ asset('groupe/'~g.image) }}"
                                                                     class="attachment-full size-full" alt="a" loading="lazy"
                                                                     src="{{ asset('groupe/'~g.image) }},{{ asset('groupe/'~g.image) }}"
                                                                     sizes="(max-width: 800px) 100vw, 800px"/>
                                                                <div class="edgtf-tournament-info">
                                                                    <div>
                                                                        <div class="edgtf-tournament-date"><small>  </small></div>
                                                                        <div><small></small>
                                                                        </div>
                                                                        <div><span
                                                                            ><small></small></span>
                                                                        </div>
                                                                    </div>
                                                                    <h4 itemprop="name"
                                                                        class="edgtf-tournament-name entry-title">
                                                                        Nom de groupe: {{ g.nomgroupe }}  </h4>
                                                                    <div class="edgtf-tournament-meta">

                                                                        <div class="edgtf-tournament-meta-item">
                                                                            <div class="edgtf-tournament-meta-icon ion-ios-game-controller-b"></div>
                                                                            <div class="edgtf-tournament-meta-info">
                                                                                <samll> description: {{ g.description }}</samll>
                                                                            </div>
                                                                        </div>
                                                                        <div class="edgtf-tournament-meta-item">
                                                                            <div class="edgtf-tournament-meta-icon">
                                                                            </div>
                                                                            <div class="edgtf-tournament-meta-info">
                                                                                <small></small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="edgtf-tournament-meta-item">
                                                                            <div class="edgtf-tournament-meta-icon ion-android-people"></div>
                                                                            <div class="edgtf-tournament-meta-info">
                                                                                <small></small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a class="edgtf-tournament-overlay-link" itemprop="url" href="{{ path('rejoindre',{'id':g.getId}) }}"
                                                                   title="Vanilla masters 2019"></a>


                                                            </div> {% if g.getIdOwner() == app.session.get('Gamer_id') %}
                                                                <a href="{{ path('updategroupe',{'id':g.getId}) }}"><button  style="font-size:14px; color:white;background: purple">Update </button>
                                                                </a>

                                                                <a href="{{ path('deletegroupe',{'id':g.getId}) }}"><button  style="font-size:14px; color:white;background: purple">delete </button>
                                                                </a>    {% endif %}
                                                            </a>

                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            </body>

        {% endblock %}